<ul class="breadcrumb">
    <a href="index.php" class="active"> Design ==>  </a> 
    <a href="about.php">Add Guest ==>  </a> 
    <a href="contact.php">To bring items ==>   </a> 
    <a href="calendar-link">:</a>
    <a href="contact.php"> Save and Exit ==>   </a>
</ul>