<div class="comments">
  
  {{#each comments as |comment|}}
    <div class="card">
        <h3 class="card-header"></h3>
        <section class="comment card-body">
            <div class="text">
                {{commenttext}}
            </div>
            <div style="float:right">
                <i><strong> Posted by {{user.username}} On  {{format_date commentdate}} </strong></i>
            </div>
        </section>
    </div>
  {{/each}}
</div>
