<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"> Event Planner</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p> Once saved,  you wont be able to Edit/Delete Gift Registry / Potluck / Guest List. Are you sure, you want to Save this event? </p>
        <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveEventmodalbutton">Close</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>