
<div class="container-dashboard">
    <a href="/addNewEvent">
<button class="button btn-primary"> Add New Event</button></a>
{{#if events.length}}

     {{#each events as |event|}}
        {{> Eventinfo_LoggedUser event}}
    {{/each}}
{{/if}}

</div>





